/* Header */
header {
    background-color: #002a5c;
    width: 100%; /* Garante que o header ocupe 100% da largura */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-shrink: 0; /* Impede que o header encolha */
    user-select: none;  /* Desabilita a seleção de texto */
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
}
#question-navigator {
    
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #00295ce1;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure even spacing */
    font-size: 16px;
}
  
  #question-navigator button {
    background-color: #002a5c;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 5px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
  #question-navigator button:hover {
    background-color: #ffca28; /* Amarelo no hover */
    color: #002a5c;
  }
  
  #question-navigator input {
    width: 40px;
    padding: 5px;
}
/* Estilo para o cronômetro */
#countdown-timer {
    display: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 20px;
    padding: 6px;
    border-radius: 10px;
    margin-left: 15px;
}

/* Estilo para o container da logo */
.logo {
    flex: 1;                        /* A logo ocupa uma parte do espaço */
    display: flex;                  /* Garante que o conteúdo seja flexível */
    justify-content: center;        /* Centraliza horizontalmente */
}

.logo img {
    height: 50px;                   /* Ajusta o tamanho da logo */
    max-width: 100%;                /* Evita que a imagem estoure o container */
}

/* Estilo para a mensagem de boas-vindas */
.welcome-message {
    flex: 6;                        /* A mensagem ocupa mais espaço */
    text-align: center;             /* Centraliza o texto */
    user-select: none;  /* Desabilita a seleção de texto */
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
}

.welcome-message h1 {
    font-size: 22px;
    color: white;
    margin: 0;                      /* Remove as margens padrão */
}

/* Garante que o body e o html ocupem 100% da altura da tela */
html, body {
    height: 100%;
    margin: 0; /* Remove margens para evitar espaços indesejados */
    padding: 0; /* Remove padding para evitar espaços indesejados */
    display: flex;
    flex-direction: column; /* Organiza o layout em uma coluna (header, main, footer) */
    user-select: none; /* Desabilita a seleção de texto */
    box-sizing: border-box; /* Garante que padding e border sejam incluídos no tamanho dos elementos */
    
}
main {
    flex: 1; /* Faz o main ocupar o espaço restante entre o header e o footer */
    padding: 5px;
    display: flex;
    flex-direction: column;
}
/* Personalização da barra de rolagem para a página */
html::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 20px; /* Largura da barra de rolagem */
}

html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do trilho da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas no trilho */
}

html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: #002a5c; /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas na barra */
    border: 2px solid #f1f1f1; /* Pequeno espaçamento entre a barra e o trilho */
}

html::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
    background-color: #ffca28; /* Cor da barra de rolagem ao passar o mouse (hover) */
}

/* Estiliza o footer para que fique no final da página */
footer {
    background-color: #002a5c;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    margin: 0;
    width: 100%; /* Garante que o footer ocupe 100% da largura da tela */
    box-sizing: border-box; /* Inclui padding na largura total */
    flex-shrink: 0; /* Impede que o footer encolha */
}

/* Links no footer */
.footer-content a {
    color: #ffca28;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

/* Exames container */
#exames {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra mais pronunciada */
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 4px solid #002a5c; /* Destaque sutil com borda à esquerda */
    border-right: 4px solid #002a5c; /* Destaque sutil com borda à esquerda */
}

/* Título da seção exames */
#exames h2 {
    font-size: 24px;
    color: #002a5c;
    margin-bottom: 15px;
}

/* Estilo para o seletor */
#exames select {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#exames select:hover, #exames select:focus {
    background-color: #f1f1f1;
    border-color: #002a5c;
    box-shadow: 0 0 8px rgba(0, 42, 92, 0.2);
    outline: none;
}

/* Estilo para o botão */
#exames button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #002a5c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#exames button:hover {
    background-color: #ffca28;
    color: #002a5c;
}
/* Botões */
.button-group button {
    font-size: 14px;
    padding: 8px 12px;
    background-color: #002a5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-group button:hover {
    background-color: #ffca28;
    color: #002a5c;
}

.footer-content a {
    color: #ffca28;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

/* Estilo para o layout-container */
#layout-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    width: 100%;
    border-left: 4px solid #002a5c;
    border-right: 4px solid #002a5c;
}
/* Estilo para as questões inseridas posteriormente */
.question {
    padding: 15px;
    border: 1px solid #ddd;                /* Borda leve para separar cada questão */
    border-radius: 8px;                    /* Bordas arredondadas nas questões */
    background-color: #fafafa;             /* Fundo suave para as questões */
    margin-bottom: 20px;                   /* Espaço entre cada questão */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Leve sombra para destacar cada questão */
}

/* Estilizando o texto das questões */
.question p {
    font-size: 16px;
    font-weight: normal;
    color: #333;
    margin-bottom: 20px;
    padding-inline: 10px;
    text-align: justify; /* Adiciona o alinhamento justificado */
}
/* Estilo para o container de respostas */
.answer-container label {
    display: inline-flex; /* Use flexbox para alinhar melhor o conteúdo */
    font-size: 16px; /* Tamanho da fonte para o texto das alternativas */
    color: #333; /* Cor padrão do texto */
    align-items: center; /* Alinha verticalmente o conteúdo */
    margin-bottom: 20px; /* Espaçamento entre alternativas */
    cursor: pointer; /* Define o cursor de pointer ao passar sobre a alternativa */
    padding-left: 10px; /* Ajuste para espaçamento entre a borda e o texto */
    text-align: justify; /* Justifica o texto da alternativa */
}
/* Texto das alternativas com espaçamento maior */
.answer-container label span {
    margin-left: 30px;
    margin-top: 4px;
    vertical-align: middle;
    line-height: 1.5;
    display: inherit;
}
.answer-container label::after {
    content: "";
    display: inline-block;
    width: 100%; /* Força a última linha a se justificar */
    height: 0;
}

/* Estilizando o radio button */
.answer-container input[type="radio"] {
    position: absolute;
    margin-left: -5px;
    margin-top: 4px;
    appearance: none; /* Remove o estilo padrão do radio */
    width: 25px;
    height: 25px;
    border: 2px solid #002a5c; /* Borda azul para o radio */
    border-radius: 25%; /* Faz o radio ficar circular */
    background-color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Efeito quando o radio button estiver selecionado */
.answer-container input[type="radio"]:checked {
    background-color: #002a5c; /* Preenche o fundo com azul quando selecionado */
    border-color: #002a5c; /* Altera a cor da borda para azul */
}

/* Efeito de hover para o radio button */
.answer-container input[type="radio"]:hover {
    border-color: #ffca28; /* Muda a cor da borda ao passar o mouse */
}
/* Estilo para ícone da tesoura */
/* Ícone da tesoura ao lado esquerdo do radio button */
.icon {
    margin-top: 4px;
    margin-left: 4px;
    width: 25px;
    height: 25px;
    background-image: url('data/logos/tesoura.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    cursor: pointer;
    flex-shrink: 0; /* Impede que o ícone se encolha dentro do flexbox */
}

/* Evita que a tesoura dispare o clique no radio button */
.icon-container {
    display: flex;
    align-items: normal;
    margin-right: 10px;
    margin-bottom: -30px;
}

/* Texto tachado quando a alternativa é sinalizada como errada */
.striked {
    text-decoration: line-through;
    color: rgb(138, 138, 138); /* Torna o texto mais claro */
}

/* Estilo quando o radio button está desativado */
input[type="radio"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
/* Estilo para o popup de gabarito */
#popup-gabarito {
    display: none; /* O popup está oculto inicialmente */
    position: fixed;
    top: 50%; /* Centralizado verticalmente */
    left: 50%; /* Centralizado horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para estar exatamente no centro */
    background-color: rgba(255, 255, 255, 0.95); /* Fundo branco com leve transparência */
    color: #002a5c; /* Texto azul escuro */
    padding: 10px 10px 10px 10px; /* Padding uniformizado */
    border-radius: 10px;
    z-index: 1001;
    max-width: 70%;
    max-height: 70%;
    overflow-y: auto; /* Habilita a barra de rolagem vertical */
    box-shadow: 0 4px 12px rgba(0, 42, 92, 0.2); /* Sombra azul suave */
    text-align: left;
}
/* Personalização da barra de rolagem */
#popup-gabarito::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

#popup-gabarito::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do trilho da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas no trilho */
}

#popup-gabarito::-webkit-scrollbar-thumb {
    background-color: #002a5c; /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas na barra */
    border: 2px solid #f1f1f1; /* Pequeno espaçamento entre a barra e o trilho */
}

#popup-gabarito::-webkit-scrollbar-thumb:hover {
    background-color: #ffca28; /* Cor da barra de rolagem ao passar o mouse (hover) */
}
/* Estilo para o conteúdo do popup */
.popup-content {
    background-color: #f9f9f9; /* Fundo cinza muito claro */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 42, 92, 0.1); /* Sombra leve */
}

/* Estilo padrão dos itens de gabarito */
.popup-content p {
    margin-bottom: -10px; /* Ajuste da margem entre os gabaritos */
    background-color: #f9f9f9; /* Fundo claro padrão */
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #002a5c; /* Texto azul escuro */
}

/* Estilo padrão para o item de gabarito */
.gabarito-question {
    color: #002a5c; /* Texto azul escuro padrão */
    cursor: pointer; /* Cursor de ponteiro para indicar interatividade */
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block; /* Para o hover funcionar corretamente */
    border-radius: 6px; /* Bordas arredondadas */
}

/* Efeito hover para .gabarito-question */
.gabarito-question:hover {
    background-color: #4d79ff; /* Azul claro no hover */
    color: white; /* Texto branco no hover */
}
/* Estilo para o botão de fechar que ocupa a parte superior inteira com bordas arredondadas */
#close-popup {
    background-color: #002a5c;
    color: white;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px 0px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    position: relative;
    top: 0px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#close-popup:hover {
    background-color: #ffca28; /* Amarelo no hover */
    color: #002a5c; /* Texto azul no hover */
}

/* Efeito hover para as respostas */
.popup-content p:hover {
    background-color: #ffca28;
    color: #000000;
}

/* Estilo para o container dos botões */
.buttons-container {
    display: flex;            /* Alinhar os botões lado a lado */
    justify-content: center;   /* Centralizar os botões horizontalmente */
    align-items: center;       /* Alinhar os botões verticalmente */
    gap: 20px;                 /* Espaçamento entre os botões */
    margin-bottom: 40px;       /* Aumentar o espaçamento em relação ao footer */
}

/* Estilo uniforme para os botões Gabarito e Finalizar a Prova */
.buttons-container button {
    font-size: 16px;           /* Tamanho de fonte uniforme */
    padding: 10px 20px;        /* Tamanho de preenchimento (padding) igual */
    background-color: #002a5c; /* Cor de fundo azul */
    color: white;              /* Texto branco */
    border: none;              /* Remover bordas padrão */
    border-radius: 8px;        /* Bordas arredondadas */
    cursor: pointer;           /* Cursor de ponteiro ao passar o mouse */
    flex: 1;                   /* Ambos os botões terão a mesma largura */
    max-width: 200px;          /* Limitar a largura máxima para evitar exageros */
    text-align: center;        /* Centralizar o texto nos botões */
}

.buttons-container button:hover {
    background-color: #ffca28; /* Cor de fundo ao passar o mouse */
    color: #002a5c;            /* Cor do texto ao passar o mouse */
}

/* Estilo para o popup de estatísticas */
#popup-estatisticas {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00295cee;
    color: #ffffff; /* Texto cinza escuro para bom contraste */
    border-radius: 10px;
    max-width: 450px;
    width: 90%;
    z-index: 1001;
    text-align: left; /* Texto alinhado à esquerda */
    overflow-y: visible; /* Rolagem automática se o conteúdo for muito grande */
    max-height: 85vh; /* Limitar altura do popup */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil para destaque */
    border: 2px solid #002a5c;;
}
#popup-estatisticas button {
    background-color: #002a5c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 0px;
    font-size: 15px;
    margin-bottom: 10px;
}
#popup-estatisticas button:hover {
    background-color: #ffca28;
    color: #002a5c;
}
/* Estilo para os containers de contraste */
.container-contraste {
    background-color: #ffffff;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    border: 2px solid #002a5c;;
}

/* Estilo para o título do popup */
.popup-content h2 {
    font-size: 22px;
    margin: 1px;
    color: #da2020; /* Cor mais escura para o título */
    text-align: center; /* Centralizar o texto do título */
}

/* Centralizar o título das disciplinas */
.popup-content h3 {
    text-align: center;
    margin: 5px;
    font-size: 16px;
    color: #333;
}
/* Estilo para os itens de estatísticas */
.popup-content .estatistica-item {
    margin-bottom: 10px;
    font-size: 15px;
    color: #333;
}

/* Estilo para o botão de fechar */
#close-popup-estatisticas {
    background-color: #002a5c; /* Azul escuro discreto */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 15px;
    display: block;
    width: 100%; /* Largura completa no mobile */
    text-align: center;
}

#close-popup-estatisticas:hover {
    background-color: #ffca28; /* Cor mais escura no hover */
    color: #ffffff;
}

/* Cores para os resultados */
.aprovado {
    color: #28a745; /* Verde profissional e sutil */
    font-weight: bold;
}

.reprovado {
    color: #dc3545; /* Vermelho suave */
    font-weight: bold;
}

.certas {
    color: #28a745; /* Verde sutil para as respostas certas */
}

.erradas {
    color: #dc3545; /* Vermelho suave para as respostas erradas */
}

/* Ajuste de espaçamento para o container descritivo */
.description-container {
    background-color: #f9f9f9; /* Fundo claro */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    padding: 5px 15px; /* Reduzi o padding para evitar espaçamento excessivo */
    font-size: 16px; /* Tamanho da fonte ajustado */
    font-weight: normal; /* Deixa o texto com peso normal */
    color: #000000; /* Cor do texto preto */
    margin-bottom: 15px; /* Espaço reduzido abaixo do container */
    text-align: justify; /* Justifica o texto */
    max-width: 800px;
    margin: 15px auto; /* Centralizado com margem automática */
    display: flex;
    flex-direction: column; /* Organiza o texto e o QR code em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

/* Estilo para o parágrafo dentro do container */
.description-container p {
    font-size: 15px; /* Tamanho da fonte ajustado */
    color: #000000; /* Cor do texto */
    margin-bottom: 10px; /* Espaço ajustado abaixo do parágrafo */
}

/* Estilo para o QR code */
.description-container img {
    width: 200px; /* Ajuste do tamanho do QR code */
    cursor: pointer; /* Indica que é clicável */
    margin-top: 10px; /* Pequeno espaçamento superior ao QR code */
}

/* Estilo para o QR code */
.description-container img {
    width: 250px; /* Alterado o tamanho do QR code para 250px */
    cursor: pointer; /* Indica que é clicável */
    margin-top: 10px; /* Pequeno espaçamento superior ao QR code */
    
}
/* Responsividade - Mobile */
@media (max-width: 768px) {
    #countdown-timer {
        font-size: 14px; /* Smaller font for better fit on mobile */
        padding: 5px;
    }

    #question-navigator {
        width: 90%;
        font-size: 14px; /* Slightly smaller font for mobile */
    }
    
      #question-navigator button {
        padding: 5px 20px; /* Reduz o padding dos botões */
        font-size: 14px; /* Ajusta o tamanho da fonte dos botões */
      }
    
      #question-navigator input {
        width: 30px; /* Reduz a largura do input */
        padding: 5px;
        font-size: 14px; /* Ajusta o tamanho da fonte do input */
      }
    
    /* Header ajustado para mobile */
    header {
        flex-direction: column;     /* Alinha a logo acima do texto em telas menores */
        text-align: center;         /* Garante que tudo esteja centralizado */
        width: 100%;
    }
    /* Personalização da barra de rolagem para a página */
    html::-webkit-scrollbar, body::-webkit-scrollbar {
        width: 15px; /* Largura da barra de rolagem */
    }
    .logo {
        margin-bottom: 10px;        /* Espaço extra abaixo da logo no mobile */
    }

    .welcome-message h1 {
        font-size: 18px;            /* Reduz o tamanho do texto no mobile */
    }

    .button-group button {
        font-size: 12px;
        padding: 6px 10px;
    }

    /* Estilos para o #exames em mobile */
    #exames {

        padding: 15px;                        /* Reduz o espaçamento interno */
        margin: 10px auto;                    /* Margem menor */
        max-width: 95%;                       /* Ocupa quase toda a largura da tela */
        box-shadow: none;                     /* Remove a sombra para telas pequenas */
        border-radius: 8px;                   /* Mantém bordas arredondadas */
    }

    /* Ajustes no título da seção de exames */
    #exames h2 {
        font-size: 20px;                       /* Tamanho de fonte menor em telas pequenas */
        margin-bottom: 10px;                   /* Reduz o espaçamento inferior */
    }

    /* Ajustes no seletor de exames */
    #exames select {
        padding: 8px;                          /* Menor padding para se ajustar a telas pequenas */
        font-size: 14px;                       /* Fonte levemente menor para dispositivos móveis */
        max-width: 100%;                       /* O seletor agora ocupará toda a largura em telas pequenas */
    }

    /* Ajustes no botão */
    #exames button {
        font-size: 14px;                       /* Fonte menor para o botão */
        padding: 8px 15px;                     /* Menor espaçamento no botão */
        margin-top: 15px;                      /* Ajuste no espaçamento superior */
        width: 100%;                           /* O botão ocupará toda a largura disponível */
    }

    /* Estilos para o layout-container em mobile */
    #layout-container {
        background-color: #ffffff;
        padding: 15px;                        /* Reduz o espaçamento interno */
        margin: 10px auto;                    /* Margem menor */
        max-width: 95%;                       /* Ocupa quase toda a largura da tela */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve para destacar o conteúdo */
    }

    /* Estilo para o container de cada questão */
    .question {
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #fafafa;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }

    /* Estilizando o texto das questões */
    .question p {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    /* Estilo para os detalhes no topo da questão */
    .question div {
        margin-bottom: 10px;
    }

    /* Estilo para as alternativas */
    .answer-container label {
        display: block;
        margin-bottom: -20px;
    }

    .answer-container input[type="radio"] {
        margin-right: 10px;
    }

    /* Ajustes no footer */
    footer {
        font-size: 15px;                       /* Texto menor no footer */
        padding: 8px;                          /* Menor padding para o footer */
        width: 100%;
    }

    /* Ajustar o tamanho dos popups */
    .popup-box {
        width: 90%;
    }

    .popup-box.large {
        width: 100%;
        max-height: 70vh;
    }

    .popup-box h2 {
        font-size: 18px;
    }

    .popup-box p {
        font-size: 14px;
    }

    .popup-box button {
        font-size: 14px;
        padding: 8px 15px;
    }

    #popup-gabarito {
        width: 90%;
        max-height: 70%; /* Reduz a altura máxima em dispositivos móveis */
        padding: 15px;
        font-size: 16px; /* Ajusta o tamanho da fonte para melhor legibilidade */
    }

    #close-popup {
        font-size: 14px;
        padding: 8px 10px;
    }

    /* Estilos para o popup de estatísticas */
    #popup-estatisticas {
        max-width: 90%;
        padding: 20px;
        max-height: 80vh; /* Garantir que o popup não ocupe toda a altura */
    }

    .popup-content h2 {
        font-size: 20px;
    }

    .popup-content p, .popup-content h3, .popup-content .estatistica-item {
        font-size: 14px;
    }

    #close-popup-estatisticas {
        font-size: 14px;
        padding: 8px 15px;
        width: 100%; /* Garantir que o botão tenha largura completa no mobile */
        text-align: center; /* Centralizar o texto no botão */
    }

    .container-contraste {
        padding: 10px;
        margin-bottom: 15px;
    }
}
