/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Section Container */
.section-container {
    margin-bottom: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.section-container h2, .section-container h3 {
    color: #00509e;
    margin-bottom: 15px;
}

.ranking-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.ranking-table thead {
    background: #00509e;
    color: white;
}

.ranking-table th, .ranking-table td {
    text-align: left;
}

.ranking-table tbody tr:nth-child(odd) {
    background: #f9f9f9;
}

.ranking-table tbody tr:hover {
    background: #f1f1f1;
}

.patente-icon {
    width: 30px;
    height: auto;
    display: block;
    margin: auto;
}

.ranking-description {
    margin-top: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.ranking-description h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #00509e;
}

.ranking-description p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

/* Media Queries */
@media (max-width: 1024px) {
    .section-container {
        padding: 15px;
    }

    .ranking-table th {
        font-size: 0.8rem;
    }
    .ranking-table td {
        font-size: 0.4rem;
    }
    .ranking-description {
        padding: 15px;
    }

    .ranking-description h3 {
        font-size: 1.3rem;
    }

    .ranking-description p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .ranking-table {
        font-size: 0.8rem;
    }

    .patente-icon {
        width: 25px;
    }

    .section-container h2 {
        font-size: 1.5rem;
    }

    .ranking-description h3 {
        font-size: 1.2rem;
    }

    .ranking-description p {
        font-size: 0.1rem;
    }
}

@media (max-width: 480px) {
    .section-container {
        padding: 1px;
    }

    .ranking-table th{
        font-size: 0.6rem;
        
    }
    .ranking-table td {
        font-size: 0.6rem;
    }
    .patente-icon {
        width: 15px;
    }

    .section-container h2 {
        font-size: 1.8rem;
    }

    .ranking-description h3 {
        font-size: 1rem;
    }

    .ranking-description p {
        font-size: 0.8rem;
    }
}
