/* Reseta o estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilizando o Header */
header {
    background-color: #002a5c;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

.logo {
    position: relative;
    margin-bottom: 10px;
}

.logo img {
    height: 40px;
}

.welcome-message h1 {
    font-size: 18px;
    color: white;
}

#timer {
    background-color: #920000dc;
    padding: 2px;
    border-radius: 5px;
    display: block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 10px;
    position: fixed;
    top: 1%; /* distância do topo */
    right: 1%; /* distância da borda direita */
    z-index: 1000; /* Certifique-se de que ele ficará sobre outros elementos */
}

/* Botões */
.button-group button {
    font-size: 14px;
    padding: 8px 12px;
    margin-bottom: 10px;
    background-color: #002a5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-group button:hover {
    background-color: #ffca28;
    color: #002a5c;
}

/* Popup */
.popup-box.large {
    width: 100%;
    max-height: 70vh;
}

/* Footer */
footer {
    font-size: 12px;
    padding: 10px;
    text-align: center;
    background-color: #002a5c;
    color: white;
}

.footer-content a {
    color: #ffca28;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

/* Estilos para as questões */
.question {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilizando o texto da questão */
.question p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Estilos para as alternativas */
.answer-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre as alternativas */
}

.answer-container label {
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.answer-container input[type="radio"] {
    margin-right: 10px;
}

/* Estilo para os botões */
.button-group button, #consultEdital  {
    font-size: 15px;
    padding: 2px 2px;
    margin-top: 20px;
    background-color: #002a5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #ffca28;
    color: #002a5c;
}

/* Estilo dos Popups */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
}

.popup-box.large {
    width: 750px;
    max-height: 80vh;
    overflow-y: auto;
}

.popup-box h2 {
    font-size: 20px;
    color: #002a5c;
    margin-bottom: 15px;
}

.popup-box p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.popup-box button {
    background-color: #002a5c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.popup-box button:hover {
    background-color: #ffca28;
    color: #002a5c;
}

/* Estilo para o botão de fechar o popup */
#popup-close {
    background-color: #002a5c;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#popup-close:hover {
    background-color: #ffca28;
    color: #002a5c;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-box.large {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-height: 80vh;
    overflow-y: auto;
}

.popup-box h2 {
    font-size: 20px;
    color: #002a5c;
    margin-bottom: 15px;
}

.popup-box p, .popup-box li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.popup-box ul {
    list-style-type: none;
    padding: 0;
}

.popup-box button {
    background-color: #002a5c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.popup-box button:hover {
    background-color: #ffca28;
    color: #002a5c;
}
/* Responsividade - Mobile */
@media (max-width: 768px) {
    .popup-box {
        padding: 15px;
        width: 90%;
    }

    .popup-box.large {
        width: 100%;
        max-height: 70vh;
    }

    .popup-box h2 {
        font-size: 18px;
    }

    .popup-box p {
        font-size: 14px;
    }

    .popup-box button {
        font-size: 14px;
        padding: 8px 15px;
    }
    
}